body {
  background-image: url("/images/catdogbackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.images {
    width: 50px;
    height: 75px;
}