body {
  background-image: url("/images/catdogbackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#game-title {
  font-family: "Pacifico", cursive;
}

.images {
  width: 75px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
}

.flip {
  transform: rotateY(180deg);
}
